
:root {
    --pFontSize: 18px;
    --h1FontSize: 46px;
    --h2FontSize: 40px;
    --fontFamily: Courier;
    --primaryColor: #e9f1f7;
    --secondaryColor: #131b23;
    --accentColor: #2274a5;
}


/* COMPOSITION */

body {
    font-family: var(--fontFamily);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: grid;
    grid-template-areas: 'about headshot'
                        'projects skills';
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    max-width: 1350px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    height: 100px;
    position: relative;

}

a {
    color: var(--primaryColor);
    text-decoration: none;
}

p {
    font-size: var(--pFontSize);
}

/* UTILITIES */


/* BLOCKS */

nav ul {
    display: flex;
    position: relative;
    height: fit-content;
    font-size: var(--pFontSize);
    padding: 5px 0px;
    margin: 0;
}

header h1 {
    width: fit-content;
    height: 60px;
    font-size: var(--h1FontSize);
    margin: 0;
    position: relative;
 
    
}

h2 {
    font-size: var(--h2FontSize);
}

img {
    grid-area: headshot;
    height: 300px;
    margin-top: 30px;
}

li {
    display: block;
    list-style: none;
    padding: 5px;
    background-color: var(--secondaryColor);
}

header li {
    padding: 15px 30px;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: var(--pFontSize);
    width: 90px;
    height: 20px;
    text-align: center;
}

.aboutMe {
    text-align: left;
    max-width: 500px;

}

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    grid-area: projects;


}

.projects h2 {
    text-align: left;
}

.projectList {
    margin-left: 0;
    position: relative;
    padding-left: 0;

}

.projectList li {
    margin: 10px 0px;
    position: relative;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: var(--pFontSize);
}

.skills h2 {
    text-align: center;
    color: var(--secondaryColor);
    grid-area: skills;
}